<div class="container">
  <div class="card text-white bg-secondary my-4 text-center">
    <div class="card-body">
      <p class="text-white m-0" style="text-align: center">Cena za vypálenie 1 litra 50 % destilátu je 5,10 € vrátane nákladov na energie!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <table class="table">
        <th>Cena pozostáva z:</th>
        <th></th>
        <tr>
          <td>Ceny za službu</td>
          <td>2,40 €</td>
        </tr>
        <tr>
          <td>Spotrebnej dane</td>
          <td>2,70 €</td>
        </tr>
        <tr class="table-success">
          <td>Spolu</td>
          <td>5,10 €</td>
        </tr>
      </table>
    </div>
    <div class="col-md-7">
      <img class="img-fluid rounded pull-right" src="./assets/images/billboard.JPG" alt="">
    </div>
  </div>
  <div class="row col-md-12">
    <p><strong>Cena za službu zahŕňa:</strong></p>
  </div>
  <div class="row col-md-12">
    <ul>
      <li>Použitie výrobného zariadenia vrátane použitej energie</li>
      <li>Prácu obsluhy zariadenia</li>
      <li>Likvidáciu odpadu</li>
      <li>Režijné náklady prevádzkovateľa</li>
    </ul>
  </div>
  <div class="row col-md-12">
    <p><strong>Zákazník - pestovateľ</strong> je povinný zaplatiť prevádzkovateľovi pálenice polovicu spotrebnej dane z liehu v sume 5,40 € za liter 100% alkoholu (2,70 € za liter 50% destilátu) do množstva 43,0 litrov l. a. na jedného pestovateľa a jeho domácnosť za jedno výrobné obdobie. Nad uvedený limit zaplatí pestovateľ plnú sadzbu spotrebnej dane t. j. 10,80 € za liter l. a.</p>
  </div>
  <div class="row col-md-12">
    <p><strong>Príklad výpočtu ceny:</strong></p>
  </div>
  <div class="row col-md-12">
    <table>
      <tr>Pri vypálení 10 litrov 70% destilátu z dodaného kvasu vypočítame, koľko je to litrov 50% destilátu:</tr>
      <tr>10 litrov x 70% / 100 = 7 litrov 100% alkoholu</tr>
      <tr>7 litrov l.a. x 2 = 14 litrov 50% alkoholu </tr>
      <tr>Cena bude: 14 litrov x 5,10 € = 71,4 €</tr>
      <tr>Z toho cena za službu je: 33,6 €</tr>
    </table>
  </div>
</div>
