<div class="container">

  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-8">
      <img class="img-fluid rounded" src="../../../assets/images/home-page-plums.jpg" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
      <h1>Vitajte na stránke pálenice Brestov.</h1>
      <p>Obec Brestov sa nachádza v okrese Humenné, 3 kilometre severne od okresného mesta Humenné. Výrok, že v každej poriadnej slovenskej dedine nesmie chýbať kostol a jedna krčma, už neplatí. Nesmie chýbať ani pálenica. Tu, v dedine Brestov, neďaleko Humenného stojí pálenica <a href="http://www.orsr.sk/hladaj_osoba.asp?PR=Valiska&amp;MENO=Peter&amp;SID=0&amp;T=f0&amp;R=on" target="_blank"><b>Frndžalica s.r.o.</b></a></p>
      <a class="btn btn-primary btn-lg" routerLink="/sluzby" href="#" routerLinkActive="active">Služby!</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Call to Action Well -->
  <div class="card text-white bg-secondary my-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">Minimálne množstvo pre jedno pálenie je 150 litrov! Menšie množstvo je možné zmiešať s kvasom iného pestovateľa pri zachovaní rovnakého pomeru ovocí.</p>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Zákon</h2>
          <p class="card-text">Pre jedného pestovateľa a jeho domácnosť je možné za jedno výrobné obdobie, t.j. od 1. júla do 30. júna nasledujúceho roka v liehovare na pestovateľské pálenie ovocia vypáliť destilát z ovocných kvasov v množstve 43 la ...</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Viac</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Cenník</h2>
          <p class="card-text">Cena za vypálenie 1 litra 50% destilátu je 5,10 € vrátane nákladov na energie! Cena pozostáva z ceny za službu (2,40 €) a postrebnej dane (2,70 €) ...</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Viac</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Príprava kvasu</h2>
          <p class="card-text">Základom kvalitného destilátu je príprava kvasu. Z nekvalitného kvasu ani ten najlepší destilačný prístroj nevyrobí lahodný destilát. Na prípravu kvasov používajte výhradne dozreté až prezreté ovocie bez listov,  ... </p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Viac</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
