<div class="container">

  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-8">
      <img class="img-fluid rounded" src="./assets/images/home-page-plums.jpg" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
      <h1>Vitajte na stránke pálenice Brestov.</h1>
      <p>Obec Brestov sa nachádza v okrese Humenné, 3 kilometre severne od okresného mesta Humenné. Výrok, že v každej poriadnej slovenskej dedine nesmie chýbať kostol a jedna krčma, už neplatí. Nesmie chýbať ani pálenica. Tu, v dedine Brestov, neďaleko Humenného stojí pálenica <a href="http://www.orsr.sk/hladaj_osoba.asp?PR=Valiska&amp;MENO=Peter&amp;SID=0&amp;T=f0&amp;R=on" target="_blank"><b>Frndžalica s.r.o.</b></a></p>
      <a class="btn btn-primary" pageScroll pageScrollDuration="500" href="#zakon">Zákon!</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Call to Action Well -->
  <div class="card text-white bg-secondary my-4 text-center">
    <div class="card-body">
      <p class="text-white m-0" style="text-align: center">Minimálne množstvo pre jedno pálenie je 150 litrov! Menšie množstvo je možné zmiešať s kvasom iného pestovateľa pri zachovaní rovnakého pomeru ovocí.</p>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Služby</h2>
          <p class="card-text">Pre našich zákazníkov ponúkame uvedené služby. Medzi nimi aj možnosť zakúpenia ovocia od pestovateľov zo Slovenska a Maďarska za bezkonkurenčné ceny.</p>
        </div>
        <div class="card-footer">
          <a routerLink="/sluzby" routerLinkActive="active" class="btn btn-primary">Viac</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Cenník</h2>
          <p class="card-text">Cena za vypálenie 1 litra 50% destilátu je 5,10 € vrátane nákladov na energie! Cena pozostáva z ceny za službu (2,40 €) a postrebnej dane (2,70 €).</p>
        </div>
        <div class="card-footer">
          <a routerLink="/cennik" routerLinkActive="active" class="btn btn-primary">Viac</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Príprava kvasu</h2>
          <p class="card-text">Základom kvalitného destilátu je príprava kvasu. Z nekvalitného kvasu ani ten najlepší destilačný prístroj nevyrobí lahodný destilát.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Viac</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->

  </div>
  <!-- /.row -->

  <section id="zakon">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Pálenie podľa zákona</h2>
          <span>
            <img class="img-fluid rounded pull-right" style="max-width: 240px; height: auto" src="./assets/images/law.jpg" alt="">
            <p>V liehovare možno vyrábať destilát len z dopestovaného ovocia v miernom podnebnom pásme, z jeho kvasov, z plodov viniča hroznorodého v čerstvom stave alebo v skvasenom stave vrátane ovocných vín a hroznových vín, ktoré neobsahujú cudzie cukornaté alebo iné prímesi.</p>
            <p>Prevádzkovateľ môže prijať kvas na ďalšie spracovanie len na základe písomnej žiadosti pestovateľa o výrobu destilátu.</p>
            <p>Ak si pestovateľ v príslušnom výrobnom období dal vyrobiť destilát aj v inom liehovare, k žiadosti priloží písomné vyhlásenie o tejto skutočnosti, v ktorom uvedie najmä množstvo vyrobeného destilátu v litroch alkoholu (la) a sídlo liehovaru s potvrdením liehovaru o množstve vyrobeného destilátu.</p>
            <p>Prevádzkovateľ liehovarníckeho závodu na pestovateľské pálenie ovocia môže vyrobiť pre pestovateľa lieh len na základe žiadosti o výrobu destilátu. Pri výpočte výšky dane je prevádzkovateľ liehovarníckeho závodu na pestovateľské pálenie ovocia povinný použiť príslušnú sadzbu dane podľa množstva liehu v la. vyrobeného pre pestovateľa, pričom prihliada na množstvo doteraz vyrobeného liehu, ktoré pestovateľ uviedol v žiadosti o výrobu destilátu.</p>
          </span>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- /.container -->
