<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Brestov
    <small>(Humenné)</small>
  </h1>

  <!-- Content Row -->
  <div class="row">
    <!-- Map Column -->
    <div class="col-lg-8 mb-4">
      <!-- Embedded Google Map -->
      <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
    </div>
    <!-- Contact Details Column -->
    <div class="col-lg-4 mb-4">
      <h3>Kontakt</h3>
      <p>
        <i class="fa fa-map-marker"></i> Brestov 67/700
        <br>066 01 Humenné
        <br>Slovenská republika
      </p>
      <p>
        <i class="fa fa-phone" aria-hidden="true"></i> +421 917 226 477
      </p>
      <p>
        <i class="fa fa-envelope" aria-hidden="true"></i> palenicabrestov@gmail.com
      </p>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
