<div class="container">
  <div class="row col-md-12">
    <h2>Ponúkame tieto služby</h2>
  </div>
  <div class="row">
    <div class="col-md-7">
      <ul>
        <li>Príprava kvasu</li>
        <li>Odkôstkovanie sliviek a marhúľ, príprava jabĺk a hrušiek na profesionálnom stroji</li>
        <li>Kvas je čerpaný obsluhou profi čerpadla</li>
        <li><strong>Destilácia</strong> je vykonávaná na <strong>najmodernejšom destilačnom zariadení s deflegmátorom</strong>, ktorý umožňuje získať <strong>vysokú kvalitu destilátu i pri menej kvalitnom kvase</strong></li>
        <li>Chuť a vôňu destilátu zvyšuje aromátor</li>
        <li>Profesionálna obsluha a poradenstvo</li>
        <li>Riedenie destilátov</li>
        <li>Krátke čakacie doby</li>
        <li>Pri väčšom množstve kvasu - zľavy</li>
        <li>V prípade potreby vieme zabezpečiť ovocie</li>
      </ul>
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0" style="text-align: center">Pre našich zakazníkov ponúkame možnosť zakúpenia ovocia od pestovateľov zo Slovenska a Maďarska za bezkonkurenčné ceny. Momentálne máme v ponuke:</p>
        </div>
      </div>
      <table class="table">
        <th>Jablká-odrody: 0,15€/kg</th>
        <th>Hrušky-odrody: 0,25€/kg</th>
        <tr>
          <td>prima</td>
          <td>dicolor</td>
        </tr>
        <tr>
          <td>melódie</td>
          <td>bohemica</td>
        </tr>
        <tr>
          <td>rosana</td>
          <td>erica</td>
        </tr>
        <tr>
          <td>selena</td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="col-md-5">
      <img class="img-fluid rounded pull-right rotate" src="./assets/images/destiler.jpg" alt="">
      <!--<img class="img-fluid rounded pull-right" src="./assets/images/pears.png" alt="">-->
    </div>
  </div>
</div>
